* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


title {
    color: red;
}


                /* BACKGROUNDPROPERTIES */


body {
    background: linear-gradient(180deg, DarkCyan, DarkRed);
}

#edit {
   min-height: 600px;
   padding: 80px 60px 40px 60px;
}

.bgg {
    background-image: url(goodS.jpg);
    padding: 72px 200px;
    border-radius: 0 0 0.5em 0.5em;
    margin: 0 70px 0 70px;
    background-attachment: fixed;
    box-shadow: 2px 2px 9px 3px rgba(0,0,0, 0.8);
}

.stopit {
    background-image: url(goodS.jpg);
    padding: 72px 20px 20px;
}

.Neu {
    padding: 69px 20px 0 20px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}



        /* HEAD-MENU-BAR */



.fixed-bar {
    display: block;
    height: 50px;
    position: fixed;
    background-color: rgba(45,23,200,0.85);
    top: 0;
    color: aliceblue;
    box-shadow: 0px 10px 5px 5px rgba(0,0,0, 0.74);
    left: 70px;
    right: 70px;
}

#fullw {
    left:0;
    right: 0;
}

a.l {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    height: 8px;
}

li.fix {    
    margin: 15px 0;
    font-family: fantasy;
    display: inline-block;
    border-right: 1px  solid white;
    padding: 0 10px;
}




        /* FOR STYLING THE THREE SITES */

            /* In General */




.txt, .copy, h3, h2, h1, .edit, span, #style, .save, #new {
    color: aliceblue;
    font-family: Hammersmith One, sans-serif;
    font-feature-settings: "ss07","ss08","ss11","ss12","ss14","ss15","ss16","ss18","ss19","ss20","ss21";
}

h3, #last, #pad {
    text-align: center;
    color: aliceblue;
}

#wer, .fade {
    margin: 35px 0;
}



            /* Home */




#head {
    line-height: 25px;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 100;
}

#jeder {
    font-family: monospace;
    font-size: 25px;
    padding: 12px;
    border: 1px solid white;
    width: 90%;
    padding: 0.9em;
    margin: 20px ;
}

#center, #creative {
    text-align: center;
    font-size: 18px;
}

#center {
    width: 40em;
    display: block;
    margin: 10px auto 30px auto;
}

#line {
    width: 30em;
    margin:auto;
    border-bottom: 1px solid white;
}

img {
    display: block;
    align-content: flex-end;
    border-radius: 100%;
    margin: auto;
    box-shadow: 5px 10px 20px 10px rgba(0, 0, 0, 0.6), 8px 16px 5px 10px rgba(0, 0, 0, 0.5);
    top: 300px;
}

a {
    position: relative;
}

.button {
    border: 2px solid #fff;
    display: block;
    margin: auto;
    width: 5%;
    text-align: center;
    padding: 5px 0px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 3px;
    font-family: sans-serif;
    background: none;
    transition: all 0.6s ease 0.1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}





            /* Second Site*/




.button:hover {
    background: DarkRed;
    color: dimgrey;
    border: 2px solid dimgrey;
    transition: background-color 0.3 ease-in, 0.3s ease-in;
    width: 6%;
        
}

.buttonE {
    border: 2px solid #fff;
    display: block;
    margin: auto;
    width: 7%;
    text-align: center;
    padding: 5px 0px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 3px;
    font-family: sans-serif;
    background: none;
    transition: all 0.6s ease 0.1s;
    cursor: pointer;
}

.buttonE:hover {
    background: rgba(255, 255, 255, 0.5);
    color: currentColor;
    border: 2px;
}

#next {
    text-align: center;
}

#pad {
    padding-bottom: 30px;
}

.size {
    min-height: 50px;
    max-height: 70px;
}





            /* Josefs Fan Seite*/




main {
    min-height: 2px;
    font-size: 30px;
    text-align: center;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.edit {
    padding: 20px 0;
}

.copy {
    display: block;
    margin: auto;
    padding: 5px 10px;
    line-height: 20px;
    text-align: center;
}

a.save {
    border: 1px solid white;
    cursor: pointer;
    
}

#sidebar {
    width: 60px;
    height: 250px;
    background-color: rgba(250, 240, 254, 0.2);
    display: block;
    top: 9em;
    right: 50px;
    position: fixed;
    border-radius: 0.1em;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0, 0.65);
}

li {
    display: block;
    font-family: fantasy;
}

.morel {
    color: whitesmoke;
    width: 20px;
    height: 20px;
    font-size: 15px;
    margin:auto;
    display: block;
    cursor: pointer;
    transition: all 0.6s ease 0.1s;
    letter-spacing: 0.5px;
/*    background-color: rgba(85, 100, 83, 0.4)*/
}




div .ausrichtung>h3, div .fontsize > h3 {
   font-family: Hammersmith One, sans-serif;
   letter-spacing: 1.5px;
   line-height: 40px;
   color: rgb(10, 30, 50);
}

span {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    color: whitesmoke;
    cursor: pointer;
}

#style, .save, #new {
    border: 1px solid white;
    padding: 0.4em;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    position: inherit;
    bottom: 50px;
    transition: all 0.001s cubic-bezier(0,1.04,.92,1.5) 0.4s;
    margin-top: 90px;
}

#style:hover, .save:hover, #new:hover {
    box-shadow: 0px 2px 4px 4px rgba(0,0,0, 0.6);
    color: darkgreen;
}

#style{
    right: 90px;
    box-shadow: 0px 4px 4px  black;
}

.save {
    margin-left: 30px;
    margin-right: 70px;
    box-shadow: 0px 4px 4px black;
}

#new {
float: right;
}

#fontS {
    font-size: 11px;
    width: 40px;
    height: 19.8px;
    margin: 0 0 5px 10px;
    border-color: rgba(250, 240, 250, 0.2);
    color: whitesmoke;
    border-radius: 2px;
    border-width: 0.5px;
    padding-right: 0.8px;
    background-color: rgba(250, 240, 250, 0.2);
}


#color {
    width: 25px;
    border-color: rgba(250, 240, 250, 0.2);
    border-width: 0;
    position: fixed;
    margin: 0 0 0 17.5px;
    
}

#five, #six, #seven {
    display: none;
}